<form class="container-form" action="javascript:void(0);">
    <h1>intern sign up</h1>
    <div class="form-name">
        <label>Full name*</label>
        <input id="name" name="name" type="text" placeholder="Name">
    </div>
    <div class="mid-form">
        <div class="email-pass">
            <label>Email* </label>
            <input id="email" type="email" name="email" placeholder="foo@bar.com"> 
        </div>
        
        <div class="phone-birthday">
            <label>Phone*</label>
            <input id="phone" type="tel" name="phone" placeholder="(83) 00000-0000">
        </div>

        <div class="email-pass">
            <label>Password*</label>
            <input id="password" type="password" name="password" placeholder="Password">
        </div>

        <div class="phone-birthday">
            <label>Birthday*</label>
            <input id="birthday" type="date">
        </div>
    </div>
    <div class="container-register">
        <div class="checkbox-wrapper">
            <input id="terms" type="checkbox">
            <label>I accept the <span>Terms and privacy</span></label>
        </div>
        <button id="button">Register</button>
    </div>
</form>
